﻿body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.promotions-card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .promotions-card .card-title {
        font-size: 1.3rem; 
        color: #0d6efd;
        margin-bottom: 20px;
    }

.card {
    border-radius: 10px;
    transition: transform 0.2s;
    font-size: 0.85rem; 
}

    .card:hover {
        transform: scale(1.05);
    }

.card-title {
    font-size: 0.9rem; 
    color: #0d6efd;
}

.card-text {
    font-size: 0.75rem; 
    color: #555;
    margin-bottom: 10px;
}
.btn {
    font-size: 0.75rem;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@media (max-width: 768px) {
    .promotions-card .card-title {
        font-size: 1.1rem;
    }

    .card-title {
        font-size: 0.85rem;
    }

    .card-text {
        font-size: 0.7rem;
    }

    .btn {
        font-size: 0.7rem;
    }
}

.col-6 {
    width: 50%;
}

.col-md-4 {
    width: 33.33%;
}

.col-lg-2 {
    width: 16.66%;
}